body {
  background: url(images/bg.png);
  background-size: cover;
}

h1, body {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  color: #D8DDDE;
  font-size: 2.6em;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 12px) {
  body {
    font-size: 2em;
  }
}

.typewriter h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;    
  color: rgb(58, 57, 57);    
  overflow: hidden;
  border-right: 0.10em solid rgb(58, 57, 57);
  white-space: nowrap; 
  margin: 0 auto;
  font-weight: 100;
  letter-spacing: 0;
  animation: 
    typing 2s steps(40, end),
    blink-caret .75s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #D8DDDE; }
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: #4d7888;
    font-size: 2em;
    font-weight: 300;
  }
  
